body {
	color: rgb(252, 255, 247);
	font-family: 'Love Ya Like A Sister', cursive;
	background: rgb(46, 45, 45);
	margin: 0;
	padding: 0;
	overflow: hidden;
	font-size: 24px;
	background-image: url("VegPattern.png")
}

.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	margin-top: 120px;
	text-align: center;
}

h1 {
	color: rgb(54, 153, 252);
	font-size: 64px;
	text-align: center;
	line-height: 0.9;
}

button {
	background-color: rgb(54, 153, 252);
	border-radius: 3%;
	color: white;
	margin-top: 50px;
	width: 240px;
	height: 90px;
	font-family: 'Love Ya Like A Sister', cursive;
	font-size: 36px;
	outline: none;
	transition: 0.8s;
	font-size: 22px;
}

button:hover {
    background-color: rgb(113, 154, 31);	
	cursor: pointer;
	color: white;
	box-shadow: 10px;
}


